<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
        <!-- Bootstrap Dropdown Hover CSS -->
        <link href="css/animate.min.css" rel="stylesheet">
        <link href="css/bootstrap-dropdownhover.min.css" rel="stylesheet">
    
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
    
        <!-- Bootstrap Dropdown Hover JS -->
        <script src="js/bootstrap-dropdownhover.min.js"></script>
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
    <style>

.button2{
    background-color: #27A1B7;
    width: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}
body {
          overflow-x: hidden; /* Hide horizontal scrollbar */
        }



.logo{
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.anim{
    padding-left: 150px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.slogan{
    padding-left: 20px;
    padding-top: 40px;
}

#myDiv {
    background-color: #27A1B7;
  }

  .b_shadow{
    background-color: #b9112d;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 200px;
    border: 10px;
    border-color: black;
    border-radius: 7px;
  }

  .b_shadow:hover {
    background-color: transparent;
    border-color: black;
    border:10px;
  }
  .footer{
          color:  #27A1B7;
      }
  .desc{
    background-color: rgba(241, 241, 241, 0.2);
    color: black;
    border-radius: 4px;
    padding: 10px;
  }
  .button2padding{
    padding-top: 5px;
    padding-left: 40px;
  }
    </style>
    <title>
      PWB | Empower your team, conquer projects.
    </title>
    <link rel="icon" href="https://drive.google.com/uc?export=view&id=1do4DObQ20TFCRY-4t_NxjM2qeWVpAbdw" type="image/x-icon">
  </head>
  <body style="background-color: white;">
    <div class="row">
      <div class="col-1">
      <img class="logo" src="https://drive.google.com/uc?export=view&id=1j8pAqlPUG4MK0mbvUv9qZCU-a4lYNa2p" height="100px">
    </div>
    <div class="col-4 slogan">
      <p style="font-size: 20px; font-family:Arial, Helvetica, sans-serif; color: #27A1B7; font-style: italic;"   > Empower your team, conquer projects.</p> 
    </div>
    <div class="col-5"></div>
      <div class="col-2">
        <br>
        <div class="button2padding"><a class="nav-link btn button2" href="./Login"><font style="color: white;">Begin</a></font></div>
    </div>
  </div>

<div class="row"id="myDiv">
  <div class="col-1"></div>
    <div class="col-4">
      <br><br><br>
        <p style="font-size: 32px; font-family:Arial, Helvetica, sans-serif; color: white; "   > Welcome to PWB! <br> Your ultimate resource for efficient project management.</p> 
        <div class="desc">
        <p style="font-size: 16px; font-family:Arial, Helvetica, sans-serif; text-align: justify; color: white;">
            We understand the challenges of coordinating and completing projects successfully which is why we developed a platform that simplifies project 
            coordination and completion. It streamlines your workflow, improves collaboration, and keeps you organized throughout. Create project timelines, assign tasks 
            effortlessly, and track progress with ease.</p></div> <br>
      
            <a class="nav-link btn-lg btn b_shadow" href="./Login"><font style="color: white;">Get Started!</a></font>
      </div> 
      <div class="row">
    <div class="col-8">
      <img class="anim" src="https://drive.google.com/uc?export=view&id=12N-EO6MIOM8qEE6J_WpWrOH6NOW_xAtb" height="500px">
      <br><br>
    </div>
  </div>
    <br><br><br>
</div>
<!-- Footer starts -->
<br><br>
<div class="row">
    <div class="col">
        <center><img src="https://drive.google.com/uc?export=view&id=1HAXuH0sSWZWbGN2OsQrD-UgzonSodMum" height="150px"></center>
    </div>
    <div class="col">
        <button type="button" class="btn btn-link footer">Careers</button>
        <br>
        <button type="button" class="btn btn-link footer">Privacy Policy</button>
        <br>
        <button type="button" class="btn btn-link footer">Questions</button>
        <br>
        <button type="button" class="btn btn-link footer">Help</button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-link footer">Email</button>
        <br>
        <button type="button" class="btn btn-link footer">Phone</button>
        <br>
        <button type="button" class="btn btn-link footer">Fax</button>
        <br>
        <button type="button" class="btn btn-link"><img src="https://drive.google.com/uc?export=view&id=1N7HNvlOwt1Fo1IlS904iPnw52AR4M2kT" height="20px"></button>
        <button type="button" class="btn btn-link"><img src="https://drive.google.com/uc?export=view&id=1LHjqLxUFppPkwzJjaoSMU09Nnj44kZke" height="20px"></button>
        <button type="button" class="btn btn-link"><img src="https://drive.google.com/uc?export=view&id=1nBsJy9s2Djl0eZp0wIdsWVsavus1vXxd" height="20px"></button>

    </div>
    <div class="col">
        <button type="button" class="btn btn-link footer">Technology</button><br>
        <button type="button" class="btn btn-link footer">Terms of Service</button><br>
        <button type="button" class="btn btn-link footer">Cookie Settings</button><br>
        <button type="button" class="btn btn-link footer">API</button>

    </div>
    <div class="col">
        <img src="https://drive.google.com/uc?export=view&id=1Bs8hWrnkoiJ3zHezVJ9BmQTMa5ZTwIcI" height="150px">
    </div>
</div> 
<br>
<div class="row">
    <div class="col-1"></div>
    <div class="col footer">
        <center>© 2023 PWB All Rights Reserved</center>
    </div>
    <div class="col-1 footer">
        <h4><center><a href="#top" class="nav-link">△</a></center></h4>
    </div>
</div>   


</body>
</html>